/* Desktop screen media query */
@media (min-width: 1440px) {
  #home-page {
    width: 98%;
    margin: 0 auto;
  }

  .hero-content {
    width: 100%;
    padding: 1em;
  }

  .big-heading {
    width: 60%;
  }

  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  .first-paragraph {
    font-size: 1.2rem;
  }
}

/* laptop screen media query */
@media (min-width: 1200px) {
  #home-page {
    width: 98%;
    margin: 0 auto;
  }

  body {
    font-size: 1rem;
  }

  .hero-section {
    width: 100%;
    height: 100vh;
    justify-content: space-between;
  }

  .big-heading {
    width: 50%;
  }

  .content-spacing {
    display: block;
    gap: 2rem;
  }

  h1 {
    font-size: 2.3rem;
    line-height: 3rem;
  }

  .heading-three {
    font-size: 2rem;
    line-height: 2.5rem;
    padding: 1rem 0;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 1rem;
  }

  .who-we-are {
    width: 100%;
  }

  h2 {
    font-size: 2rem;
    line-height: 2rem;
  }

  h6 {
    font-size: 1.3rem;
  }

  .btn,
  .cta {
    width: 138px;
    cursor: alias;
  }

  header {
    padding: 1em 0;
  }

  .menu-bar {
    padding: 0.5em;
    gap: 1rem;
  }

  .menu-link {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  .hyperlinks-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .hamburger-menu {
    display: none;
  }

  ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
  }

  #about-us {
    width: 100%;
    padding: 1em;
    margin-top: 2rem;
  }

  .about-us-content-holder {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .blog-content-why-choose-us {
    text-align: left;
  }

  .order-items-easy {
    border-radius: 24px;
    width: 100%;
    flex-direction: row;
    gap: 2rem;
    padding: 1em;
    align-items: center;
  }

  .content,
  .img-image-wrap {
    width: 50%;
  }

  #profile {
    width: 100%;
    margin: 0 auto;
  }

  #animation-box-flex {
    width: 1020px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  .content {
    text-align: left;
  }

  .logo-items {
    width: 7rem;
    height: 7rem;
  }

  .content-wrapper {
    margin: 0 auto;
  }

  .statistics {
    gap: 4rem;
    margin: -1rem 0;
    width: 100%;
  }

  .span {
    padding-top: 1em;
    width: 18rem;
    height: 6rem;

    .numbers {
      font-size: 3rem;
    }

    .projects {
      font-size: 1.5rem;
    }
  }

  .imagery-two {
    width: 350px;
    height: 500px;
  }

  .more-anime,
  .blog-why-choose-us {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .why-content {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .para-btn {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
  }

  .design-img-item {
    width: 300px;
    height: 300px;
  }

  .design-img {
    width: 300px;
    height: 300px;
  }

  .heading-animation {
    font-size: 1.8rem;
    line-height: 32px;
    width: 35%;
    display: flex;
    align-items: center;
  }

  .content-box-flex {
    display: flex;
    flex-direction: row;
    margin-top: -3rem;
  }

  #services {
    width: 85%;
    display: block;
    margin: 1rem auto;
  }

  .premium {
    flex-direction: row;
    margin: 0;
  }

  #customer-service {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .order-items {
    width: 70%;
  }

  .protech {
    width: 300px;
    height: 600px;
  }

  #content-wrapper-item {
    height: 70vh;
  }

  .items {
    width: 320px;
    padding: 0.5em;
    margin: 0;
    gap: 1.5rem;
  }

  .premium-items {
    width: 70%;
    text-align: left;
    gap: 1rem;
    margin-top: 1rem;
  }

  .about-us-flex {
    display: flex;
  }

  #testimonial {
    margin: 3rem 0;
    background-color: #f6f8f9;
  }

  .testimonial {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    width: 100%;
  }

  #testimonial-img {
    width: 400px;
    height: 400px;
    border-radius: 0;
  }

  .testimonial-wrapper {
    display: flex;
    gap: 1.5rem;
  }

  .testimonial-flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #pricing {
    display: flex;
    margin-top: 2rem;
  }

  .testimonial-box {
    padding: 1em 0;
  }

  .test-box {
    padding: 1em 0;
  }

  .footer {
    margin: 3rem 0;
  }
}
