/* Desktop screen media query */
@media (min-width: 1200px) {
  body {
    font-size: 1rem;
  }

  .hero-section {
    width: 100%; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .big-heading {
    width: 50%;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  h2 {
    font-size: 2 rem;
  }

  a {
    font-size: 1rem;
  }

  .btn,
  .cta {
    width: 138px;
    cursor: alias;
  }

  header {
    width: 100%;
    padding: 1em 0;
  }

  .menu-bar {
    width: 100%;
    padding: 0.5em;
  }

  .menu-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .hamburger-menu {
    display: none;
  }

  ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
  }

  #about-us {
    width: 100%;
    padding: 1em;
    margin-top: 2rem;
  }

  .about-us-content-holder {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .content,
  .img-image-wrap {
    width: 50%;
  }

  .content {
    text-align: left;
  }
}
