/* Desktop screen media query */
@media (min-width: 1200px) {
  body {
    font-size: 1rem;
  }

  .hero-section {
    width: 100%;
    justify-content: space-around;
  }

  .big-heading {
    width: 50%;
  }

  a > button {
    width: 100%;
  }

  .content-spacing {
    display: block;
    gap: 2rem;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .heading-three {
    font-size: 2rem;
    line-height: 2.5rem;
    padding: 1rem 0;
  }

  .who-we-are {
    text-align: left;
    width: 100%;
  }

  p {
    line-height: 2rem;
  }

  h2 {
    font-size: 2rem;
  }

  a {
    font-size: 1rem;
  }

  .btn,
  .cta {
    width: 138px;
    cursor: alias;
  }

  header {
    padding: 1em 0;
  }

  .menu-bar {
    padding: 0.5em;
    gap: 5rem;
  }

  .menu-link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .hamburger-menu {
    display: none;
  }

  ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
  }

  #about-us {
    width: 100%;
    padding: 1em;
    margin-top: 2rem;
  }

  .about-us-content-holder {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .content,
  .img-image-wrap {
    width: 50%;
  }

  .content {
    text-align: left;
  }

  .logo-items {
    width: 7rem;
    height: 7rem;
  }

  .content-wrapper {
    width: 50%;
    margin: 0 auto;
  }

  .statistics {
    gap: 4rem;
    margin: -1rem 0;
    width: 100%;
  }

  .span {
    width: 18rem;
    height: 6rem;

    .numbers {
      font-size: 3rem;
    }

    .projects {
      font-size: 1.5rem;
    }
  }

  .more-anime {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .para-btn {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
  }

  .heading-animation {
    font-size: 1.8rem;
    width: 45%;
  }
}
