@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #000;
  font-size: 1rem;
  font-family: system-ui, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.4rem;
}

.hamburger-menu {
  width: 24px;
  height: 24px;
}

#home-page {
  display: block;
  margin: 0 auto;
}

/* header /hero section styling */

.header {
  width: 100%;
}

.menu-bar {
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* heading styling here */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: "DM Sans", serif;
}

h6 {
  font-size: 1rem;
}

h5 {
  font-size: 1.1rem;
}

h1 {
  font-size: 1.3rem;
  font-style: normal;
  line-height: 1.5rem;
  letter-spacing: 3px;
  text-align: left;
}

.first-paragraph {
  color: #fff;
  font-size: 1rem;
}

p {
  word-spacing: 1px;
  line-height: 1.4rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.4rem;
}

/* headings end */

.logo {
  font-family: "DM Sans", serif;
  font-weight: bold;
  color: #fff;
}

img .testimonial-img {
  border-radius: 0;
}

ul {
  display: none;
  align-items: center;
  gap: 1rem;
}

.blog-why-choose-us {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 98%;
  margin: 3rem auto;
  gap: 3rem;
}

.blog-content-why-choose-us,
.why-content {
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

a {
  color: white;
  font-size: 0.75rem;
  line-height: 15.6px;
  text-decoration: none;
}

a:hover {
  cursor: alias;
}

a:focus {
  color: #f87d03;
  cursor: pointer;
}

/* buttons styling */

.cta {
  width: 124px;
  padding: 0.8em;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f87d03;
  color: #fff;
  border-radius: 12px;
}

.btn {
  width: 124px;
  padding: 0.8em;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #800080;
  color: #fff;
  border-radius: 12px;
  margin-bottom: 2rem;
}

.btn:hover {
  background-color: black;
  color: #fff;
  cursor: pointer;
}

.button,
.button-active,
.button-inactive,
.button-focus,
.button-video,
.focus,
.inactive,
.active {
  border: none;
  color: #fff;
  background-color: #800080;
}

.button a {
  color: #fff;
}

.inactive,
.button-link {
  border: none;
  background-color: #800080;
}

.discover-more {
  color: #fff;
  border-radius: 12px;
  background-color: #800080;
  padding: 0.8rem;
  border: none;
}

/* hero section styling  */
.hero-section {
  background-image: url("../images/team-design.png");
  filter: brightness();
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  height: 90vh;
  margin: 0;
}

.big-heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  color: #fff;
}

.hero-content {
  width: 98%;
  margin-top: 3rem;
}

/* About us section styling */
#about-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  content-visibility: auto;
  contain-intrinsic-size: 1000px;
}

.who-we-are {
  color: #f87d03;
  font-weight: 700;
  text-align: left;
  font-size: 1rem;
  width: 100%;
}

.imagery-one {
  border-radius: 8px;
}

.about-us-content-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
  width: 98%;
  gap: 2rem;
  margin-top: 2rem;
}

.content-wrapper {
  width: 98%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  color: #fff;
  margin: auto;
}

#content-wrapper-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1rem;
}

#brand-logos {
  padding: 1.5em 2em;
  background-color: #fff;
}

.logos {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2em;
  overflow: hidden;
}

.logo-items {
  width: 100px;
  height: 100px;
  animation: scroll 60s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-1000%);
  }
}

.img-image-wrap {
  margin-bottom: 1rem;
}

/* the main sub-section */

#main-content {
  background-image: url("../images/pexels-cottonbro-8721318.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: brightness(darken);
  content-visibility: auto;
  contain-intrinsic-size: 1000px;
}

.main-content {
  background-image: url("../images/zeltech.jpg");
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0 1rem;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center-align-text {
  text-align: left;
  color: #fff;
}

.statistics {
  border-radius: 1rem 1rem 0 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 0.5rem;
  margin: -2rem auto;
  width: 98%;
}

.span {
  display: flex;
  flex-direction: column;
  font-size: large;
  font-weight: 800;
  color: #800080;
}

.projects {
  font-size: 1rem;
}

/* more animate section styling */

.more-anime {
  display: flex;
  background-color: #f0f8ff;
  margin-top: 5rem;
  gap: 1rem;
  padding: 2em 0.3em;
  flex-direction: column;
}

.content-boxs,
.content-wrap {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1rem;
}

.item-block #item-block,
.items-wrap,
.items-wrapper,
.items-div-wrap,
.wrapper-item {
  border-radius: 12px;
  box-shadow: 0px 0px 2px 0px;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1rem;
  margin-top: 1rem;
}

.order-items-wrapper,
.order-items,
.order-wrap .order-items,
.order-item-overlay {
  background-color: #f0f8ff;
}

.item-span,
.item-span-content .item-span-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  padding: 1rem;
  border-radius: 12px;
  width: 98%;
  margin: auto;
}

.items {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0px 0px 2px 0px;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1rem;
  margin-top: 1rem;
}

img {
  width: 100%;
  margin: auto;
  border-radius: 1rem;
  background: linear-gradient(#050404b6, #000000b1);
}

figure img {
  width: 100%;
  margin: auto;
}

.content-box-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#wrapper-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.premium-items {
  display: flex;
  flex-direction: row-reverse;
}

.premium {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  gap: 1rem;
}

.premium-img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 48px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}

#services {
  margin-top: 1rem;
  display: block;
}

.order-items-easy {
  display: flex;
  flex-direction: column;
}

.description,
.description-block,
.description-one,
.description-two {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 0;
}

#testimonial {
  width: 100%;
  background-color: #f0f8ff;
}

.testimonial {
  background-color: #f0f8ff;
  padding-top: 3rem;
}

.figure-img {
  width: 98%;
  margin: auto;
}

#span-image,
#span-img,
#span-image-wrap {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-left: 0;
}

.test-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Testimonial  */

.testimonial-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1em;
}

.testimonial-box {
  padding: 0.5em;
  background-color: #fff;
}

.logo-wrapper {
  width: 100%;
  display: flex;
}

#heading-six,
#paragraph,
#heading-text,
#para-text {
  font-size: 0.8rem;
  color: #000;
  text-align: left;
}

.blue-color {
  color: #800080;
  font-weight: 700;
}

/* footer styling */
footer {
  width: 100%;
  background-color: #181818;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
}

.footer {
  width: 98%;
  margin: auto;
  border-bottom: 1px solid #fff;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem;
}

.footer-wrapper,
.footer-logo,
.services,
.studio {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.footer-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-menu {
  display: flex;
  justify-content: center;
  gap: 3rem;
  text-align: left;
}

.logo-dot {
  font-size: 1.5rem;
  color: #f87d03;
}

.facebook,
.twitter,
.pinterest {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.contact-us {
  color: #fff;
  background-color: #f87d03;
  border: none;
}

.contact-wrapper {
  width: 98%;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 2rem;
  font-size: 0.7rem;
  flex-wrap: wrap;
  padding: 1em;
}
